@import 'https://fonts.googleapis.com/css?family=Raleway';
*{
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.full {
    min-height: 100% !important;
    height: 100% !important;

}
html,body{
    height: 100%;
}

::-webkit-input-placeholder{
  color: white;
}

.datos-login{
  position: relative;
  margin-top: 3%;
  height: 350px;
  width: 100%;
  color: white;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.login-top{
  margin-top: 6%;
}

.datos-login h4{
  margin-top: 20px;
}
.datos-login a{
  color: white;
  text-decoration: none;
}
.datos-login input, .contenido-opciones input, .datos-login select{
  text-align: center;
  border: none;
  background: rgba(183,212,219,0.5);
  margin-top: 3%;
  width: 85%;
  height:40px;
  border-radius: 20px;
  outline: none;
  font-size: 15px;
  color: white;
}
.login_pestaña {
  top: 20px;
  width: 35%;
  height: 50px;
  /*background-color: green;*/
  border-bottom: solid 2px red;
  position: relative;
  display: inline-block;
}

.contenido-opciones{
    margin-top: 15%;
    width: 100%;
    height: 120px;
}

.icono{
  position: relative;
  top: 20px;
  float: left;
  width: 100%;
}

.icono img{
  width: 30%;
	left: 2% !important;
    position: relative;
}

.icono h1{
  font-size: 20px;
  color: white;
}


.icono h3{
width: 80%;
margin-left: 10%;
margin-top: 3%;
font-size: 14px;
color: white;
}

.contMenu{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  visibility: hidden;
  z-index: 111;
  transition: 0.05s;
}

.notificaciones{
  z-index: 999999999;
  background: rgba(19,129,141,1);
  position: absolute;
  top: -30%;
  width: 100%;
  height: 60px;
  -webkit-transition:.8s all;
  box-shadow: 0 0 10px black;
}
.notificaciones h1{
  color: rgba(255,255,255,0.8);
  margin-top: 15px;
  font-size: 18px;
}
.notificaciones{
  top: -70%;
}



.desplegarMenuM1{
  visibility: visible !important;
  background: rgba(0,0,0,0.2) !important;
}


.desplegarMenuM2{
  left: 0!important;
}
.contenedor-principal{
  min-height: 100%;
  position: absolute !important;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  /*background-color: #F7F7F7;*/
}
.contMenu{
  position: absolute;
  width: 100%;
  height: 100%;
  /*background: rgba(0,0,0,0.2);*/
  visibility: hidden;
  z-index: 111;
  transition: 0.05s;
  padding-left: -10px !important;
}
.menuDesplegable{
  left: 0%;
  background: white;
/*  width: 20% !important; */
  height: 100% !important;
  float: left;
  box-shadow: 0 0 10px rgba(0,0,0,.2) !important;
  font-size: 10px;
  z-index: 9999;
  transition: 0.2s ease-in-out;
/*  overflow: scroll; */
  overflow-x: hidden;
  padding-left: 0px !important;
}
.menuDesplegable a{
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}


@media (max-width: 640px) and (min-width:530px){
	.sugerenciaTarjeta{
		width: 60% !important;
		margin-left: 18.5% !important;
	}	
	.menuDesplegable{
		width: 45% !important;
	}
	.palabrasDes .speaker{
		margin-left: 16% !important;
	}
	.respuesta{
		width: 70% !important;
		margin-left: 16% !important;
	}
	.sugerencia {
		width: 60% !important;
		margin-left: 21% !important;
	}
	.informacionPerfil{
		width: 70% !important;
		margin-left: 16% !important;
	}
	.definicion {
    left: 10.5% !important;
	}
}

@media (max-width: 670px) and (min-width:0px){
  .menuDesplegable{
    left: -100%;
    }
    .menuIcono{
        display: block !important;
    }
    sugerencia {
        position: absolute !important;
    }
    palabraEspecifica{
        margin-top: 50px !important;
        background-color: red;
    }
	.definicion {
    left: 10.5% !important;
	}
	#perfil {
    margin-left: -13% !important;
	}


}

@media (max-width: 990px) and (min-width: 765px){
	.respuesta{
		width: 60% !important;
		text-align: center;
		margin-left: 20% !important;
	}
  .sugerenciaTarjeta{
		width: 60% !important;
		text-align: center;
		margin-left: 20% !important;
	}

}

@media (max-width: 1100px) and (min-width: 990px){
	.sugerencia input, .sugerencia select{
		width: 60% !important;
		margin-left: 20% !important;
	}
	
	.sugerenciaTarjeta{
		margin-left: 5% !important;
	}

}

@media (max-width: 770px) and (min-width: 670px){
  .menuDesplegable{
        width: 35% !important;
    }
    .contenedor-principal{
    margin-left: 35% !important;
    width: 65% !important;
}


}
@media (min-width: 770px) and (max-width: 1099px){
  .contenedor-principal{
  margin-left: 33% !important;
  width: 67% !important;

}
.menuDesplegable{
  width: 33% !important;
}


}
@media (min-width: 1100px) {
  .menuDesplegable{
        width: 20% !important;
}
.contenedor-principal{
     margin-left: 20% !important;
      width: 80% !important;
}
.sugeridas {
    width: 28% !important;
}
.sugerencia input, .sugerencia select{
    width: 57% !important;
    margin-left: -43% !important;
}
.empty{
    left: 26% !important;
}
definicion{
    left: 29% !important;
    width: 61% !important;
 }

.sugerenciaTarjeta{
    margin-left: 6% !important;
}

.palabrasDes .speaker {
    left: 90% !important;
}

}
#tituloMenu{
  position: relative;
  width: 110%;
  left: -5%;
  height: 180px;
  margin-top: -7%;
  color: black;
}





#busquedaPalabras{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#busquedaPalabras input{
    border: 0;
    box-shadow: none;
}

#busquedaPalabras img{
    width: 90%;
    height: 30px;
    filter: invert(60%);
}

#busquedaPalabras button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    outline: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}
.input-group-btn{
  width: 10% !important;
}
#busquedaPalabras button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;

}

#busquedaPalabras .glyphicon-search{
    font-size: 23px;
}








#tituloMenu h1{
  position: relative;
  top: 140px;
  color: white;
  text-align: center;
  font-size: 26px;
  font-weight: 100;
}
.menuDesplegable .opciones img{
  position: relative;
  top: 0px;
  width: 30px;
  float: left;
}
.menuDesplegable .opciones h2{
  position: relative;
  top: -13px;
  color: black;
  text-decoration: none;
  margin-left: 50px;
  font-size: 20px;
  font-weight: 400;
}
.menuDesplegable a{
  text-decoration: none;

  -webkit-tap-highlight-color: transparent;
}



.imgPerM{
  width: 75%;
  margin-top: 7px;
  margin-left: 13%;
  height: 180px;
  position: absolute !important;
  left: 0;
  border-radius: 100%;
}

.menuDesplegable .opciones:hover{
  text-decoration: none;
  background: rgba(70, 126, 155, 0.5);
}


.menuDesplegable .opciones{
  padding-left: 25px;
  height: 50px;
  padding-top: 10px;
  border-bottom: 1px solid #f2f2f2;
}

.opMenu{
  margin-top: 15px;
  position: relative;
}

.actual{
  background: rgba(70, 126, 155, 0.8);
}
.menuDesplegable .opciones:hover img, .menuDesplegable .opciones:hover h2, .actual img, .actual h2{
  -webkit-filter: invert(100%);
}


.resultados .titulos{
  width: 100%;
  position: relative;
  top: 70px;
  text-align: center;
}

.menuIcono{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  /*padding-left: 0px !important;*/
  z-index: 11;
}
.container-fluid{

    padding-right: 0px !important;
    padding-left: 0px !important;

}
.menuIcono img{
   width: 60px;
}
.icono-enviar {
    position: absolute;
    top: 5px;
    left: 85%;
    width: 60px;
    height: 40px;
}

.icono-enviar img {
     border: none;
    margin-top: 12px;
    /* width: 20px !important; */
    left: -18px;
    height: 20px;
    outline: none;
    margin-left: 30%;
}



.busqueda{
  position: fixed;
  width: 100%;
  height: 51px;
  z-index: 11;
  background: rgba(70, 126, 155, 1);
  display: none;
}
.busqueda img{
     border: none;
    margin-top: 16px;
    /* width: 20px !important; */
    left: -20px;
    height: 20px;
    outline: none;
    margin-left: 30%;
}
.busqueda #imgBack{
  -webkit-filter: invert(100%);
}
.busqueda input{
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  position: relative;
  float: left;
  width: 75%;
  margin-left: 3%;
  height: 30px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  color: white;
}


.principal{
  background-color: red;
  width: 100%;
  height: 600px;
}


.sugerenciaRespMenu{
  padding-left: 0px !important;
  position: fixed !important;
  height: 50px;
  width: 100%;
  z-index: 11;
  background-color: rgba(70, 126, 155, 1);
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.sugerenciaRespMenu img{
  float: left;
  width: 50px;
}
.sugerenciaRespMenu h1{
  float: left;
  width: 60%;
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin-top: 15px;
  margin-left: 5%;
}
.sugerenciaResp{
  height: 100%;
}
.sugerencia input, .sugerencia select{
  background-color: transparent;
  width: 100%;
  height: 30px;
  margin-top: 15px;
  border: none;
  color: black;
  font-size: 18px;
  border-bottom: 2px solid rgba(70, 126, 155, 0.5);
  outline: none;
}





.busquedaPalabras{
  width: 40%;
  margin-left: 23%;
  height: 40px;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.busquedaPalabras img{
  position: absolute;
  height: 40px;
  top: 0px;
  margin-left: 34.5%;
  filter: invert(50%);
}


.paginaActiva{
  background-color: rgba(70, 126, 155, 1);
}











/** Resultados Busquedas **/
.respuestas{
  position: relative;
  top: 65px;
  width: 100%;
}

.respuesta{
  margin-left: 4%;
  position: relative;
  float: left;
  width: 90%;
  height: 60px;
  background: white;
  margin-top: 5px;
  cursor: pointer;
  border: 1px solid #f2f2f2;


  padding-right: 0px !important;
  padding-left: 0px !important;

}
.respuesta .pais{
margin-left: 5%;
height: 30%;
border-bottom: 1px solid #f2f2f2;
width: 90%;
}
.respuesta .pais h1{
margin-top: 20px;
margin-left: 1%;
font-size: 18px;
}
.respuesta .palabra{
width: 60%;
height: 70%;
border-right: 1px solid #f2f2f2;
float: left;
}
.respuesta .palabra h3{
margin-top: 8%;
margin-left: 11%;
font-size: 22px;
}
.respuesta .bandera{
float: left;
width: 38.5%;
height: 70%;
}
.respuesta .bandera img{
margin-top: 8%;
margin-left: 25%;
width: 40%;
height: 45%;
}

sugeridas {
  height: 50px;
    cursor: pointer;
}


.sugerencia{
  position: relative;
  top: 70px;
  width: 100%;
  height: 100px;
  transition: 0.2s all;
  margin-bottom: 80px;
}
/* CheckBox*/
.sugerencia input[type="checkbox"]{
  width: 25px;
  float: left;
}
.sugerencia p{
  margin-left: 8px;
  margin-top: 20px;
  float: left;
}
.sugerencia input, .sugerencia select{
  background-color: transparent;
  width: 100%;
  height: 30px;
  margin-top: 15px;
  border: none;
  color: black;
  font-size: 18px;
  border-bottom: 2px solid rgba(70, 126, 155, 0.5);
  outline: none;
}


.respuestas2{
  position: relative;
  top: -10px;
  width: 100%;
}

/**Aceptar Sugrencias**/
/*
.banderaEspe{
    position: relative;
    top: 12px;
    float: left;
    margin-left: 1%;
    width: 53px;

}
*/

.banderaEspe {
    position: relative;
    top: 8px;
    float: left;
    margin-left: 1%;
    /* width: 53px; */
    padding: 6px;
    height: -webkit-fill-available;
    box-sizing: border-box;
}
.banderaP{
	position: relative;
	width: 20%;
	float: left;
	height: 100%;
}
banderaS{
	position: relative;
	float: left;
	height: 100%;
	width: 25% !important;
}
.sugeridas .pais2{
  position: relative;
  float: left;
  height: 100%;
  width: 57%;

}
.sugeridas .pais2 h1{
  margin-top: 18px !important;
  font-size: 16px;
  margin-left: 5%;
}
.sugeridas .aceptar{
  position: relative;
  width: 22% !important;
}
.sugeridas .aceptar:hover{
  position: relative;
  top: 0px;
}
.sugeridas .aceptar:hover img{
  position: relative;
  top: 1px;
}
.sugeridas .aceptar img{
  position: relative;
  top: 7px;
  width: 45px;
}









/**Reportes**/
.report{
  left: 40% !important;
}


.sugeridas .pais2{
  position: relative;
  height: 100%;
  width: 58%;
}
.pais2 h1{
  margin-top: 5%;
  font-size: 16px;
  font-weight: 400;
}
.sugeridas .aceptar, .sugeridas .rechazar{
  position: relative;
  float: left;
  height: 100%;
  border-left: 1px solid #f2f2f2;

}
.sugeridas .aceptar:hover{
  margin-top: 0;
  height: 100%;
  background: rgba(114,174,246,0.2);
}
.sugeridas .aceptar:hover >img,.sugeridas .rechazar:hover >img{
  margin-top: 7%;
}
.sugeridas .rechazar:hover{
  margin-top: 0;
  height: 40%;
  background: rgba(221,29,63,0.2);
}




.empty{
  position: absolute;
  top: 200px;
  left: 30.5% !important;
  width: 40%;
  text-align: center;
  opacity: 0.5;
}
.emptyP{
	top:300px !important;
}
.empty img{
  position: relative;
  width: 100px;
}
.empty h3{
  font-weight: 400;
  margin-top: 10px;
  font-size: 18px;
    margin-left: 2% !important;
  height: 30px;
}














/** Especifica **/
.palabraEspecifica{
  position: relative;
  width: 110%;
  height: 200px;
  background: rgba(70,126,155,0.6);
}
.palabraEspecifica h1{
  text-align: center;
  position: relative;
  top: 60px;
  width: 100%;
  font-size: 28px;
  font-weight: 400;
  color: rgba(0,0,0,0.6);
}


.contenedorSugerencias{
    height: 100% !important;
    overflow: hidden !important;
}

.contenedorSugerencias{
  background: #F7F7F7;
  position: relative;
  width: 100%;
  /*overflow: scroll;*/
  box-shadow: 0 0 10px gray;
}


/**Reportes**/
.report{
  left: 40% !important;
 }
}


.report-cont{
  position: absolute;
  top: 0;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s all;
}
.report{
  position: absolute;
  visibility: hidden;
  top: 30%;
  left: 30%;
  width: 150px;
  height: 150px;
  background: white;
  z-index: 11;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
.report img{
  margin-top: 10px;
  width: 80px;
  height: 80px;
}
.report h3{
  font-weight: 400;
  font-size: 18px;
  margin-top: 15px;
}
.report-in:hover{
  width: 100%;
  height: 100%;
  background-color: rgba(50,137,199,0.2);
}
#definicionImg{
  position: relative;
  float: left;
  left: 2%;
  width: 40px;
  top: 6px;
}
.definicion{
  position: absolute !important;
  top: 50px;
  left: 13%;
  width: 80%;
  background: red;
  z-index: 111;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.4);
  text-align: center;
  visibility: hidden;
}
.definicion h3{
  width: 80%;
  text-align: justify;
  margin-left: 10%;
  font-size: 16px;
  margin-top: 15px;
  font-weight: 400;
}
.definicion h5{
  color: rgba(70, 126, 155, 1);
  float: right;
  margin-right: 10%;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.definicion h5:hover{
  cursor: pointer;
}






/*
.sugerenciaTarjeta .opcionesSug{
  padding: 10px !important;
  width: 7% !important;
  position: relative;
  left: 24% !important;
  height: 60% !important;
}
*/




.sugerenciaTarjeta{
    position: relative;
    float: left;
    height: 60px;
    background: white;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid #f2f2f2;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
/*
.sugerenciaTarjeta .banderaSug{
	position: relative;
    top: 8px;
    float: left;
    margin-left: 1%;
     width: 53px;
    padding: 6px;
    height: -webkit-fill-available;
    box-sizing: border-box;
}
*/

.sugerenciaTarjeta h2{
  height: 70%;
	margin-left: 1.5%;
  margin-top: 6%;
  font-weight: 400;
  float: left;
  font-size: 18px;
}
.sugerenciaTarjeta .opcionesSug{
  position: relative;
  left: 41%;
  padding: 5px;
  top: 6px;
  width: 16%;
  height: 80%;
}
.sugerenciaTarjeta .aceptar:hover{
  background: rgba(64,143,243,0.1);
}
.sugerenciaTarjeta .rechazar:hover{
  background: rgba(216,4,42,0.1);
}


.voz{
	float: left;

	position: relative;
	height: 100%;
	width: 22%;
/*	left: 51%;*/

  position: relative;
  float: left;
  height: 100%;
}

 .voz img{
  position: relative;
  top: 7px;
  width: 45px;
}



.sugerenciaTarjeta .banderaSug{
  width: 10% !important;
}


.palabrasDes{
  top: 43%;
  width: 100%;
  position: relative;
}
.palabrasDes .speaker{
  text-align: center;
  position: relative;
  width: 50px;
  left:66%;
}



.sugerenciaTarjeta .pais2{
	  width: 50% ;
    float: left ;
    height: 100% ;
}


.sugerenciaTarjeta .pais2 h2{
	    height: 70%;
    margin-left: 1.5%;
     margin-top: 11%; 
    font-weight: 400;
    float: left;
    font-size: 18px;
}

.sugerenciaTarjeta .banderaR{
    height: 100%;
    float: left;
    width: 27%;
}














/*** Perfil***/
.perfilTop{
  left: 75%;
  position: relative;
/*  top: -20px;*/
  left: 0;
   width: 200px;
	border-radius: 100%;
  height: 200px;
  background-size: 100%;
  box-shadow: inset 0 0 200px 60px rgba(0,0,0,0.5);
}
.perfilTop #edit{
  position: absolute;
  right: 0;
  margin-right: 5%;
}
#perfil{
  left: 40% !important;
  opacity: 1;
	top: 20px;
  position: absolute !important;
  left: 0;
  height: 200px;
  -webkit-filter: invert(0%);
  width: 200px;
	border-radius: 100%;
  transition: 1s all;
}
.perfilTop img{
  margin-left: 5%;
  margin-top: 30px;

  width: 20px;
  -webkit-filter: invert(100%);
}
.perfilTop h1{
  position: relative;
  top: 110px;
  color: white;
  margin-left: 15%;
  font-size: 26px;
  font-weight: 400;
}
.perfilTop h2{
  cursor: pointer;
  display: none;
  position: absolute;
  right: 3%;
  color: white;
  top: 82%;
  font-size: 20px;
  font-weight: 400;
  -webkit-transition: 1s all;
  -webkit-tap-highlight-color: transparent;
}
.perfilTop #cancelar{
  margin-right: 25%;
}
.perfilTop a{
  -webkit-tap-highlight-color: transparent;
}
.perfilTop input[type="file"]{
  display: none;
}
.informacionPerfil{
  position: relative;
  width: 100%;
  height: 250px;
}
.tarjeta{
  background: white;
  width: 90%;
  height: 50px;
  border: 1px solid #f2f2f2;
  margin-top: 5%;
  margin-left: 5%;
}
.tarjeta img{
  margin-top: 10px;
  margin-left: 5%;
  width: 30px;
  float: left;
}
.tarjeta #bandera{
  margin-top: 15px;
}
.tarjeta h1{
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
  margin-left: 20%;
}


.contendorProgreso{
  position: relative;
  width: 75%;
  height: 30px;
  margin-top: 8px;
  margin-left: 20%;
  border: 1px solid rgba(70,126,155,1);
  overflow: hidden;
}
.progreso{
  position: relative;
  left: -100%;
  background: rgba(70,126,155,0.3);
  width: 100%;
  height: 100%;
  -webkit-transition: 6s all;
}
