<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <!-- Chrome, Firefox OS, Opera and Vivaldi -->
	<meta name="theme-color" content="#467E9B">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#467E9B">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#467E9B">
  <link rel="icon" href="img/icono.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <!-- <link rel="stylesheet" href="css/estilos.css"> -->
    <link rel="stylesheet" href="css/desktop-style.css">
  <link rel="stylesheet" href="cssBoostrap/bootstrap.css">
  <script src="js/jquery-3.1.1.js"></script>
  <script src="js/hammer.js"></script>
  <script src="js/jquery.hammer.js-master/jquery.hammer.js"></script>
  <script type="text/javascript" src="js/funciones.js"></script>
  <script src='https://code.responsivevoice.org/responsivevoice.js'></script><!-- api texo a voz -->
</head>
<body style="background-image: url('img/wallpaper.png');">

<div class="container-fluid">
  <div class=" text-center notificaciones" id="notificaciones">
    <h1>Registrado</h1>
  </div>
  <div class="row">
    <div class="col-xs-12  col-lg-12 icono">
      <img class="text-center col-xs-offset-1 col-lg-offset-4" src="img/icono.png" alt="logo">
<!--      <h1 id="logAuto">Ntendamonos</h1>-->
    </div>
  </div>
  <div class="row">
      <form method="post" onsubmit="return false">
      <input type="hidden" name="_token" value="{{ csrf_token() }}" id="token">
      <div class="datos-login col-xs-12 col-sm-offset-2 col-sm-8 col-md-6 col-md-offset-3 col-lg-offset-4 col-lg-4 ">
        <div class="form-group text-center">
          <input type="text" onfocus="this.placeholder=''" placeholder="Usuario" name="usuario" id="usuario" onblur="this.placeholder='Usuario'">
          <input type="password" onfocus="this.placeholder=''" placeholder="Password" name="password" id="password" onblur="this.placeholder='Password'">
          <div class="login-top">
            <input type="submit" readonly="readonly" placeholder="Iniciar Sesión" value="Iniciar Sesión" class=" especial-input" id="login">
            <div class="contenido-opciones">
              <a href="registro.html"><input type="text" readonly="readonly" placeholder="Unete a la comunidad" class="especial-input"></a>
              <h4><a href="principal.html">Iniciar Sesión de Invitado</a></h4>
            </div> 
          </div>
          </div>
        </div>
      </form>
    </div>
  </div>



<!-- <div class="notificaciones" id="notificaciones">
        <h1>Registrado</h1>
  </div>
<div class="recuperarPass" id="contSPass" onclick="ocultarRecPas()"></div>
<div class="res-inPass datos-login" id="contSin">
  <input type="text" name="username" placeholder="Usuario" id="UserPass">
  <input type="submit" readonly="readonly" value="Recuperar" placeholder="Recuperar Password" class="especial-input" id="recuperar">
</div> -->

<div class="colorfondo"></div>
</body>
<script>
    $(function(){
        if(sessionStorage.getItem("notificacion")){
            /*palabra(sessionStorage.getItem("notificacion"));*/
            sessionStorage.removeItem("notificacion");
        }
        notiIndex();
    });
</script>
</html>
